<script setup>
import CartArticle from "../../components/cart/CartArticle.vue"
</script>

<script type="text/javascript">
export default {
    name: "CartArticles",
    data() {
        // return {
        //     articles: {},
        // };
        return {
            articles: [
                { id: 1, title: 'GTX 3060', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$499" },
                { id: 2, title: 'GTX 1650 SUPER', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$399" },
                { id: 3, title: 'GTX 1080', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$299" },
                { id: 4, title: 'GTX 960', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$199" },
                { id: 5, title: 'GTX 4080 TI', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$799" }
            ]
        };
    },
    // methods: {
    //     async getArticles() {
    //     const { data } = await axios.get("https://yesno.wtf/api");
    //     this.articles = data;
    //     },
    // },
    // beforeMount() {
    //     this.getArticles();
    // },
};
</script>

<template>
    <div id="cart-articles">
        <CartArticle
            v-for="article in articles"
            :id="article.id"
            :title="article.title"
            :description="article.description"
            :price="article.price"
        />
    </div>
</template>