<script setup>
import axios from "axios";

const props = defineProps({
    id: Number,
    title: String,
    description: String,
    price: String,
    imageHeight: String
});
</script>

<script type="text/javascript">
export default {
    name: "CartArticle",
    methods: {
        async removeArticleFromCart(id) {
            await axios.delete(`https://yesno.wtf/api/${id}`)
                .then(response => {
                    console.log(response);
                });
        }
    },
};
</script>

<template>
    <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
        
        <div class="md:w-4/12 2xl:w-1/4 w-full">
            <router-link :to="{ name: 'article-show', params: { id: id }}">
                <img src="https://www.cgdirector.com/wp-content/uploads/media/2018/09/GraphicsCardsPerformance-Twitter_1200x675.jpg" alt="Black Leather Bag" class="h-full object-center object-cover rounded" />
            </router-link>
        </div>
        <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-between">
            <div class="flex items-center justify-between w-full pt-1">
                <router-link :to="{ name: 'article-show', params: { id: id }}">
                    <p class="text-base font-black leading-none text-gray-800 dark:text-white">{{ title }}</p>
                </router-link>
                <select aria-label="Select quantity" class="py-2 px-1 border border-gray-200 focus:outline-none dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="flex flex-col justify-center items-start">
                <p class="text-xs leading-1 text-gray-600 dark:text-white pt-2">Graphics RAM size: 12 Go</p>
                <p class="text-xs leading-1 text-gray-600 dark:text-white pt-2">GPU clock speed: 1837 MHz</p>
                <p class="text-xs leading-1 text-gray-600 dark:text-white pt-2">Video output interface: DisplayPort</p>
            </div>
            <div class="flex items-center justify-between pb-1">
                <div class="flex items-center">
                    <p class="text-xs leading-3 underline text-red-500 cursor-pointer" @click="removeArticleFromCart(id)">Remove</p>
                </div>
                <p class="text-base font-black leading-none text-gray-800 dark:text-white">{{ price }}</p>
            </div>
        </div>
    </div>
</template>