<script setup>
import ArticleCards from "../../components/article/ArticleCards.vue"
</script>

<script type="text/javascript">
export default {
    data() {
        return {
            articles: [
                { id: 1, title: 'GTX 3060', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$499" },
                { id: 2, title: 'GTX 1650 SUPER', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$399" },
                { id: 3, title: 'GTX 1080', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$299" },
                { id: 4, title: 'GTX 960', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$199" },
                { id: 5, title: 'GTX 4080 TI', description: 'The GeForce RTX 4080 Ti is a graphics card by NVIDIA, that was never released. Built on the 5 nm process, and based on the AD102 graphics processor, in its AD102-225-A1 variant, the card supports DirectX 12 Ultimate.', price: "$799" }
            ]
        };
    },
};
</script>

<template>
    <div id="articles">
        <div class="container text-center pt-8">
            <h1 class="mb-6 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                Graphics cards
            </h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                Explore NVIDIA GeForce graphics cards. Buy NVIDIA GeForce RTX 40 series, 30 series, 20 series and GTX 16 Series graphics cards, gaming laptops, desktops and more.
            </p>
        </div>
        <ArticleCards rowNumber="2" imagesHeight="40" :articles=articles />
    </div>
</template>

<style>
#header {
    height: auto;
}
</style>