<script setup>
import Stars from "../../components/article/Stars.vue"

const props = defineProps({
    id: Number,
    title: String,
    description: String,
    price: String,
    imageHeight: String
});

const imgDefaultClass = "rounded object-cover object-center w-full mb-6 h-"
const imgClassObject = props.imageHeight ? imgDefaultClass + props.imageHeight : imgDefaultClass + "40"
</script>

<template>
    <div class="px-8 py-6 rounded-md bg-white shadow">
        <router-link :to="{ name: 'article-show', params: { id: id }}">
            <figure>
                <img
                    :class=imgClassObject
                    src="https://www.cgdirector.com/wp-content/uploads/media/2018/09/GraphicsCardsPerformance-Twitter_1200x675.jpg"
                    alt=""
                />
            </figure>
        </router-link>
        <router-link :to="{ name: 'article-show', params: { id: id }}">
            <h2 class="mb-3 text-lg lg:text-2xl font-medium">{{ title }}</h2>
        </router-link>
        <p class="mb-4 leading-relaxed">
            {{ description }}
        </p>
        <Stars />
        <h2 class="mb-2 text-lg lg:text-2xl font-semibold ">{{ price }}</h2>
    </div>
</template>