<script setup>
import ArticleCard from "../../components/article/ArticleCard.vue"

const props = defineProps({
    rowNumber: String,
    imagesHeight: String,
    articles: Array
});

const defaultClass = "container px-8 pt-16 mx-auto lg:px-4 grid grid-cols-1 gap-4 md:grid-cols-"
const classObject = props.rowNumber ? defaultClass + props.rowNumber : defaultClass + "5"
</script>

<template>
    <main :class=classObject>
        <ArticleCard
            v-for="article in articles"
            :id="article.id"
            :title="article.title"
            :description="article.description"
            :price="article.price"
            :imageHeight = imagesHeight
        />
    </main>
</template>