<script setup>
import ArticleCards from "../../components/article/ArticleCards.vue"
import CartArticles from "../../components/cart/CartArticles.vue"
import axios from "axios";
</script>

<template>
    <div id="cart">
        <div class="container text-center pt-8">
            <h2 class="text-4xl font-extrabold dark:text-white">Your cart</h2>
            <CartArticles />
        </div>
    </div>
</template>

<style>
#header {
    height: auto;
}
</style>