<script setup lang="ts">
import RecentSales from "../components/RecentSales.vue"
import RecentCarts from "../components/RecentCarts.vue"
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "../components/ui/card"
</script>

<template>
    <div class="flex-col md:flex">
        <div class="flex-1 space-y-4 p-8 pt-6">
            <div class="flex items-center justify-between space-y-2">
                <h2 class="text-3xl font-bold tracking-tight">Dashboard</h2>
            </div>
            <div class="grid gap-4 md:grid-cols-2">
                <Card>
                    <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
                        <CardTitle class="text-sm font-medium"> Total Revenue </CardTitle>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            strokeLinecap="round"
                            strokeLinejoin="round"
                            strokeWidth="2"
                            class="h-4 w-4 text-muted-foreground"
                        >
                            <path d="M12 2v20M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
                        </svg>
                    </CardHeader>
                    <CardContent>
                        <div class="text-2xl font-bold">$45,231.89</div>
                    </CardContent>
                </Card>
                <Card>
                    <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
                        <CardTitle class="text-sm font-medium"> Sales </CardTitle>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            strokeLinecap="round"
                            strokeLinejoin="round"
                            strokeWidth="2"
                            class="h-4 w-4 text-muted-foreground"
                        >
                            <rect width="20" height="14" x="2" y="5" rx="2" />
                            <path d="M2 10h20" />
                        </svg>
                    </CardHeader>
                    <CardContent>
                        <div class="text-2xl font-bold">+12,234</div>
                    </CardContent>
                </Card>
            </div>
            <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
                <Card class="">
                    <CardHeader>
                        <CardTitle>Recent Sales</CardTitle>
                        <CardDescription> You made 265 sales this month. </CardDescription>
                    </CardHeader>
                    <CardContent>
                        <RecentSales />
                    </CardContent>
                </Card>
                <Card class="">
                    <CardHeader>
                        <CardTitle>Users with cart</CardTitle>
                        <CardDescription> There are X users with cart. </CardDescription>
                    </CardHeader>
                    <CardContent>
                        <RecentCarts />
                    </CardContent>
                </Card>
            </div>
        </div>
    </div>
</template>
