<script setup lang="ts">
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar"
import { Dialog, DialogContent, DialogDescription, DialogHeader, DialogTitle, DialogTrigger } from "@/components/ui/dialog"
import { Input } from "@/components/ui/input"
import { Button } from "@/components/ui/button"
import { ref } from "vue"
import { soustract } from "@/lib/soustract"
import { sum } from "@/lib/sum"
import { users } from "../utils/dumps/fake-users-datas"

const usersTest = ref(users)

function handleMinus(user: number, cart: number) {
    usersTest.value[user].carts[cart].quantity = soustract(usersTest.value[user].carts[cart].quantity, 1)
}

function handlePlus(user: number, cart: number) {
    usersTest.value[user].carts[cart].quantity = sum(usersTest.value[user].carts[cart].quantity, 1)
}

function loadCartData(id: number) {
    console.log(id)
}

function deleteItem(id: number) {
    console.log(id)
}
</script>

<template>
    <div class="space-y-8">
        <div class="user-container flex items-center" v-for="(item, indexUser) in usersTest" :key="indexUser">
            <Avatar class="h-9 w-9">
                <AvatarImage src="/avatars/01.png" alt="Avatar" />
                <AvatarFallback>{{ item.avatarFallback }}</AvatarFallback>
            </Avatar>
            <div class="ml-4 space-y-1">
                <p class="text-sm font-medium leading-none">{{ item.name }}</p>
                <p class="text-sm text-muted-foreground">olivia.martin@email.com</p>
            </div>
            <Dialog>
                <DialogTrigger @click="loadCartData(item.id)" as-child>
                    <div :class="`user-cart-${indexUser} ml-auto font-medium cursor-pointer hover:underline`">Ouvrir le panier</div>
                </DialogTrigger>
                <DialogContent class="sm:max-w-[625px]">
                    <DialogHeader>
                        <DialogTitle>Panier</DialogTitle>
                        <DialogDescription> Modifier le panier de l'utilisateur </DialogDescription>
                    </DialogHeader>
                    <div class="grid gap-4 py-4">
                        <div class="grid grid-cols-6 items-center gap-4" v-for="(itemCart, indexCart) in item.carts" :key="indexCart">
                            <div class="col-span-3 border px-4 py-2 flex flex-col rounded-sm">
                                <p>{{ itemCart.name }}</p>
                            </div>
                            <div class="grid grid-cols-4 col-span-2 gap-2">
                                <Button :data-cy="`minus-${indexCart}`" @click="handleMinus(indexUser, indexCart)" id="minus" value="Pedro Duarte" class="col-span-1">-</Button>
                                <Input :data-cy="`cart_counter_${indexCart}`" :id="`counter${indexCart}`" v-model="itemCart.quantity" class="col-span-1 text-center" />
                                <Button :data-cy="`plus-${indexCart}`" @click="handlePlus(indexUser, indexCart)" id="plus" value="Pedro Duarte" class="col-span-1">+</Button>
                            </div>
                            <Button @click="deleteItem(0)" variant="destructive" class="w-full">Bin</Button>
                        </div>
                    </div>
                </DialogContent>
            </Dialog>
        </div>
    </div>
</template>
