<script setup lang="ts">
import Navigation from "./components/Navigation.vue"
</script>

<template>
    <Navigation />
    <RouterView></RouterView>
</template>

<style>
#header {
    height: auto;
}
</style>
